<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fragatta - WebSocket</title>
</head>
<body>
  <h1>Fragatta App</h1>

  <input type="text" id="palavra" placeholder="insira a palavra">
  <button id="btnEnviar" onclick="enviar()">Enviar</button>

  <p id="resultado"></p>

  <script src="/socket.io/socket.io.js"></script>
  <script>
    // apontando a URL do servidor para o client se conectar
    const SERVER_URL = 'http://localhost:5000';
    // abrindo uma conexao do cliente com o servidor
    const socket = io(SERVER_URL);

    //disparando evento para o servidor
    // SOCKET.EMIT('NOMEDOEVENTO', { dado });
    socket.emit('welcome', {name: 'James Bond'});
    console.log('SERVIDOR RECEBEU O EVENTO WELCOME?');

    function enviar() {

      const wordField = document.getElementById('palavra');
      console.log(wordField.value);
      socket.emit('palavra', wordField.value)
    }

    socket.on('resultado', (xpto) => {
      const resultadoScreen = document.getElementById('resultado');
      console.log('dado vindo do servidr', xpto);
      resultadoScreen.innerHTML = xpto;
    })
  </script>
  
</body>
</html>